<div class="main-container">
    <mat-card>
        <h2>Create Task</h2>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title" autocomplete="off" required>
                    <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" placeholder="Describe about the Task"></textarea>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <mat-label>Project</mat-label>
                    <mat-select formControlName="project" required>
                        <mat-option *ngFor="let project of projects" [value]="project._id">
                            {{ project.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.get('project')?.hasError('required')">
                        Project is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <mat-label>Assigned To</mat-label>
                    <mat-select formControlName="assignedTo" required>
                        <mat-option *ngFor="let member of members" [value]="member._id">
                            {{ member.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="taskForm.get('assignedTo')?.hasError('required')">
                        Assigned To is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="full-width">
                    <mat-label>Due Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dueDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">
                    Create
                </button>
            </div>
        </form>
    </mat-card>
</div>